<ScrollView class="page">
	<StackLayout class="home-panel" >
		<Image src="https://piecioshka.pl/assets/images/posts/angular-warsaw/logo/logo-400x400.png" class="my-img img-anim" [ngClass]="{anim1: animationTrigger}"></Image>
		<Label text="Angular Warsaw #21" color="red" fontWeight="bold" fontSize="18;" textAlignment="center" class="margin txt-anim" [ngClass]="{anim2: animationTrigger}"></Label>
		<Label text="22/08/2018" style="color: red;font-size: 14;text-align: center;"></Label>
		<Label text="We developed this app during Angular Warsaw #21"
		style="font-size: 12;" textWrap="true" textAlignment="center"  class="margin"></Label>
		<Button text="Animate!" (tap)="onButtonTap()" class="btn btn-primary" width="150" ></Button>
		<Label text="Version: 1.2.0"
		style="font-size: 10;" textWrap="true" textAlignment="center" ></Label>
	</StackLayout>
</ScrollView>