<StackLayout class="home-panel">
	<TextField [(ngModel)]="newAddress" hint="Enter BTC address..." style="font-size: 13;margin-top: 15;"></TextField>
	<Button text="Add" (tap)="onAdd()" style="width: 150;margin-bottom: 20;margin-top: 10;" class="btn btn-primary"></Button>
	<Label text="Total: {{totalAmount$ | async}} BTC" fontSize="15" fontWeight="bold" textAlignment="left"></Label>
</StackLayout>


<ScrollView >

	<ListView class="list-group" [items]="addresses$ | async" style="height: 100%;">
		<ng-template let-address="item">
			<FlexboxLayout flexDirection="row" class="list-group-item" justifyContent="space-between" alignItems="center">
				<FlexboxLayout flexDirection="column">
					<Label text="{{getShortAddress(address.address)}}" fontSize="11;"></Label>
					<Label text="{{address.balance}} BTC" fontSize="12"></Label>
				</FlexboxLayout>
				<Button text="Del" (tap)="onDel(address)" class="btn btn-warn" fontSize="12"></Button>
			</FlexboxLayout>
		</ng-template>
	</ListView>

</ScrollView>